<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" type='text/css' href="/static/css/bodymain.css">
    <link rel="stylesheet" type='text/css' href="/static/css/addArticle.css">
    <script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
    <title>百知课程后台管理系统-增加课程/分类</title>
    <script>
    $(function () {

        $(".title1").click(function () {//选单选框禁用下拉框
            if ($(this).is(':checked')) {
                $(".my-sel")[0].disabled = true
            }
            else {
                $(".my-sel")[0].disabled = false
            }
        });
        $(".title2").click(function () {
            if ($(this).is(':checked')) {
                $(".my-sel")[0].disabled = false;
            }
            else {
                $(".my-sel")[0].disabled = true
            }
        });

        //保存按钮
        $("#save").click(function () {
           var b= $("[name='name']").val()
            console.log(b)
            if (confirm("是否保存" + $("[name='name']").val() +"？")) {
                $.ajax({
                    type: "post",
                    url: "{% url 'home_pageapp:addaddcourse' %}",
                    data: $("#form1").serialize(),
                    success: function (resp) {
                        if (resp === "yes") {
                            alert("保存成功！");
                            location.href = "{% url 'home_pageapp:home' %}";
                        }
                        else if(resp === "no") {
                            alert("保存失败！")
                        }
                    }
                });
                return true
            }
            else {
                return false
            }
        })
    });
</script>
    <style type="text/css">
    	.option_tr {
    		/*display: none;  */
    		/*通过查看 复选框 课程类别复选框 是否选中，如果选中，直接把当前标签显示即可*/
    	}
    </style>
     <style>
        .a {
            width: 20px;
            height: 20px;
            border: 1px solid #e1e2e3;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            line-height: 20px;
        }

        .b {
            border: 0;
            width: 20px;
            height: 20px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            line-height: 20px;
        }

        a {
            text-decoration: none;
        }

        .hide_scorll {
            max-height: 469px;
            overflow: auto;
        }

        .hide_scorll::-webkit-scrollbar {
            display: none
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default nav-self">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">百知课程后台管理系统</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'loginapp:login' %}" role="button">吕小布 <span class="glyphicon glyphicon-log-in"></span></a>
                </li>
                <li>
                    <a href="{% url 'home_pageapp:logout' %}">退出 <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <!-- Nav tabs -->
        <div class="panel-group col-sm-2 left-side-bar" id="accordion" role="tablist" aria-multiselectable="true">
            <div>
                <div class="panel panel-default hide_scorll">
                  <div class="panel-heading left-side-header"><a href="{% url 'home_pageapp:home' %}">百知课程</a></div>
                    {% for one in cates %}<!--一级标题-->
                        <h5 class="course-back"><a
                                href="{% url 'home_pageapp:pythonbase' %}?level={{ one.level }}&id={{ one.id }}">{{ one.title }}</a>
                        </h5>
                        <div class="list-group">
                            {% for two in sub_cates %}<!--二级标题-->
                                {% if two.parent_id == one.id %}
                                    <a href="{% url 'home_pageapp:pythonbase' %}?level={{ two.level }}&id={{ two.id }}"
                                       class="list-group-item">{{ two.title }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- Tab panes 详情展示面板 -->
        <div class="tab-content col-sm-10 right-side">

            <div class="panel panel-default right-side-content">
                <div class="page-header">
                  <h3>增加课程/分类</h3>
                </div>
                <table class="table table-bordered">
                 <form action="" id="form1">
                    {% csrf_token %}
                    <tr>
                        <td align="center" valign="middle">名称：</td>
                        <td><input type="text" class="my-inp" id="my-inp" name="name"/></td>
                    </tr>
                    <tr>
                        <td align="center" valign="middle">选择类型</td>
                        <td>
                            <input type="radio" name="title"class="title1" value="1" >课程名称
                            <input type="radio" name="title" class="title2" value="2" >课程类别名称
                        </td>
                    </tr>
                    <tr class='option_tr'>
                        <td align="center">课程名称：</td>
                        <td>
                            <select name="cate_sel" class="my-sel">
{#                                <option value="default-cate">请选择课程名称：</option>#}
{#                                <option value="python_program">Python语法</option>#}
{#                                <option value="web_h5">Web前端</option>#}
{#                                <option value="web_back">Web后端</option>#}
                                 <option value="defaultCate">请选择所属课程：</option>
                                    {% for one in cates %}<!--一级标题-->
                                        <option value="{{ one.title }}">{{ one.title }}</option>
                                    {% endfor %}

                            </select>
                        </td>
                    </tr>
                 </form>
                </table>
            <!--按钮组-->
                <div class="btn-toolbar" role="toolbar" aria-label="...">
                    <div class="btn-group" role="group" aria-label="...">
                        <a><button type="button"  id="save"class="btn btn-default my-btn"><span class="glyphicon glyphicon-floppy-disk"></span>
                            保存
                        </button></a>
                    </div>

                </div>



            </div>
            <!--分页显示-->
        </div>

    </div>

</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-heart-empty glyphicon"></span> 关注我们</h4>
                    <p>最受欢迎的管理平台</p>
                    <p><a href="#" class="ic_df"> 新浪微博</a> </p>
                    <p><a href="#" class="ic_weichat"> 官方微信</a> </p>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-king"> 开发平台</span> </h4>
                    <p>加入开发平台，尊享会员福利，成为资深程序猿</p>
                    <p class="p_idea"><a href="http://www.baizhibest.com"  class="btn btn-default btn-lg idea">我要开发</a></p>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                  <div class="caption">
                    <h4><span class="glyphicon glyphicon-phone-alt"></span> 关于我们</h4>
                    <p>欢迎反馈宝贵意见</p>
                    <p class="p_idea"><a href="http://www.baizhibest.com"  class="btn btn-default btn-lg idea">意见反馈</a></p>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 cp_info">
                <div class="no-mp">
                    <p>CopyRight © 2020 北京百知教育科技有限公司 All Rights Reserved</p>
                    <p>电话：010-****888    京ICP备*******8号</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
