<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <!--<meta name="viewport"-->
    <!--content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>-->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/bodymain.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <script>
        function delete_emp(id) {
            var del = id;
            console.log(del)
            $.ajax({
                type: "get",
                url: "{% url 'home_pageapp:dell' %}",
                data: "id=" + del,
                success: function (msg) {
                    location.href = "{% url "home_pageapp:home" %}"
                }
            });
        }
    </script>
    <title>百知课程后台管理系统-首页
    </title>
    <style>
        .a {
            width: 20px;
            height: 20px;
            border: 1px solid #e1e2e3;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            line-height: 20px;
        }

        .b {
            border: 0;
            width: 20px;
            height: 20px;
            cursor: pointer;
            display: inline-block;
            text-align: center;
            line-height: 20px;
        }

        a {
            text-decoration: none;
        }

        .hide_scorll {
            max-height: 469px;
            overflow: auto;
        }

        .hide_scorll::-webkit-scrollbar {
            display: none
        }
    </style>

</head>
<body>
<!--导航-->
<nav class="navbar navbar-default nav-self">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">百知课程后台管理系统</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'loginapp:login' %}" role="button">吕小布<span
                            class="glyphicon glyphicon-log-in"></span></a>
                </li>
                <li>
                    <a href="{% url 'home_pageapp:logout' %}">退出 <span class="glyphicon glyphicon-log-out"></span></a>
                </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="btn-group" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</nav>
<!--内容面板-->
<div class="container-fluid">
    <div class="row">
        <!-- Nav tabs -->
        <div class="panel-group col-sm-2 left-side-bar" id="accordion" role="tablist" aria-multiselectable="true">
            <div>
                <div class="panel panel-default hide_scorll">
                    <div class="panel-heading left-side-header">百知课程</div>

                    {% for one in cates %}<!--一级标题-->
                        <div class="course-python">
                            <a href="{% url 'home_pageapp:pythonbase' %}?level={{ one.level }}&id={{ one.id }}">
                                {{ one.title }}</a>
                        </div>
                        <div class="list-group">
                            {% for two in sub_cates %}<!--二级标题-->
                                {% if two.parent_id == one.id %}
                                    <a href="{% url 'home_pageapp:pythonbase' %}?level={{ two.level }}&id={{ two.id }}"
                                       class="list-group-item">{{ two.title }}</a>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Tab panes 详情展示面板 -->
        <div class="tab-content col-sm-10 right-side">

            <div class="panel panel-default right-side-content">
                <ol class="breadcrumb">
                    当前位置：
                    <li><a href="{% url 'home_pageapp:home' %}">百知课程</a></li>
                    {% if level == '2' %}
                        <li>
                            {% for type4 in type2 %}
                                {% if type4.id == id1 %}
                                    {% for type3 in type1 %}
                                        {% if type3.id == type4.parent_id %}
                                            <a href="{% url 'home_pageapp:pythonbase' %}?level={{ type3.level }}&id={{ type4.parent_id }}">
                                                {{ type3.title }}</a>
                                            <li>{{ title2 }}</li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endif %}
                </ol>
                <div class="panel-body caret_parent">
                    <a href="#" class="btn btn-default">阅读量 <span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="#" class="btn btn-default">发布时间 <span class="glyphicon glyphicon-arrow-down"></span></a>
                    <a href="{% url 'home_pageapp:addarticle' %}" class="btn pull-right base-color add-course"><span
                            class="glyphicon glyphicon-plus"></span> 增加文章</a>
                    <a href="{% url 'home_pageapp:addcourse' %}" class="btn pull-right base-color"><span
                            class="glyphicon glyphicon-plus"></span> 增加课程/分类</a>
                </div>
                <div class="panel-heading">文章列表</div>
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox"/></th>
                        <th></th>
                        <th>文章标题</th>
                        <th>所属课程</th>
                        <th>发布日期</th>
                        <th>阅读量</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cate in page %}
                        <tr>
                            <td><input type="checkbox"/></td>
                            <td>{{ cate.id }}</td>
                            <td>
                                <a href="{% url 'home_pageapp:updates' %}?id={{ cate.id }}&title={{ cate.title }}&cate_id={{ cate.cate_id }}">{{ cate.title }}</a>
                            </td>
                            <td>{{ cate.cate.title }}</td>
                            <td>{{ cate.publish_time|date:'Y-m-d' }}</td>
                            <td>{{ cate.count }}</td>
                            <td>
                                <button class="btn btn-warning"><a onclick="delete_emp({{ cate.id }})">删除</a></button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="Page navigation" class="pull-right pagitor-manager">
                    <ul class="pagination">

                        {% if page.has_previous %}
                            <a href="{% url 'home_pageapp:pythonbase' %}?number={{ page.previous_page_number }}&id={{ id }}&level={{ level }}"><<</a>
                        {% endif %}
                        {% for n in page.paginator.page_range %}
                            {% if page.number == n %}
                                <a class="b"
                                   href="{% url 'home_pageapp:pythonbase' %}?number={{ n }}&id={{ id }}&level={{ level }}">{{ n }}</a>
                            {% else %}
                                <a class="a"
                                   href="{% url 'home_pageapp:pythonbase' %}?number={{ n }}&id={{ id }}&level={{ level }}">{{ n }}</a>
                            {% endif %}
                        {% endfor %}
                        {% if page.has_next %}
                            <a href="{% url 'home_pageapp:pythonbase' %}?number={{ page.next_page_number }}&id={{ id }}&level={{ level }}">>></a>
                        {% endif %}

                    </ul>
                </nav>
            </div>
            <!--分页显示-->
        </div>

    </div>

</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4><span class="glyphicon glyphicon-heart-empty glyphicon"></span> 关注我们</h4>
                        <p>最受欢迎的管理平台</p>
                        <p><a href="#" class="ic_df"> 新浪微博</a></p>
                        <p><a href="#" class="ic_weichat"> 官方微信</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4><span class="glyphicon glyphicon-king"> 开发平台</span></h4>
                        <p>加入开发平台，尊享会员福利，成为资深程序猿</p>
                        <p class="p_idea"><a href="http://www.baizhibest.com"
                                             class="btn btn-default btn-lg idea">我要开发</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4><span class="glyphicon glyphicon-phone-alt"></span> 关于我们</h4>
                        <p>欢迎反馈宝贵意见</p>
                        <p class="p_idea"><a href="http://www.baizhibest.com"
                                             class="btn btn-default btn-lg idea">意见反馈</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 cp_info">
                <div class="no-mp">
                    <p>CopyRight © 2020 北京百知教育科技有限公司 All Rights Reserved</p>
                    <p>电话：010-****888 京ICP备*******8号</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>
